body {
    background-color: #1f242d;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
nav {
    text-align: right;
    margin: 50px;
    background-color:#0ef;
}
nav ul li   {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    list-style: none;
    padding: 20px;
    font-weight: bold;
    display: inline-block;

}
a   {
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}
