body {
    background-color: #1f242d;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
nav {
    text-align: right;
    margin: 50px;
    background-color:#0ef;
    border-radius: 25px;
}
nav ul li   {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    list-style: none;
    padding: 20px;
    font-weight: bold;
    display: inline-block;

}
a   {
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}

  .formulario {
    max-width: 600px; /* Ajusta este valor según necesites */
    margin: 50px auto; /* Centra el formulario */
    background: #fff;
    padding: 20px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.1);
    text-align: center;
    display: block; /* Asegura que el formulario se centre correctamente */
    width: 500px;
  }
  .campo {
    margin-bottom: 5px;
  }
  .campo label {
    display: block;
    margin-bottom: 10px;
  }
  .campo input[type="text"],
  .campo input[type="email"],
  .campo textarea {
    width: 100%;
    padding: 15px; /* Aumenta el padding para un tamaño mayor */
    font-size: 1em; /* Ajusta el tamaño de la fuente según necesites */
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .campo textarea {
    resize: vertical;
  }
  .boton {
    width: 100%;
    background: #5cb85c;
    border: none;
    padding: 15px; /* Aumenta el padding para un botón más grande */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; /* Ajusta el tamaño de la fuente según necesites */
  }
  .boton:hover {
    background: #4cae4c;
  }